@import "tailwindcss";

/* Hero Section  */
.hero-layout {
  @apply relative z-10 w-full max-w-screen-xl px-5 mt-15 md:mt-0 md:px-20 flex flex-col md:flex-row items-center justify-between gap-10 py-12 md:py-0 h-screen;
}

.hero-text {
  @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
}

/* Navbar  */
.navbar {
  @apply fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

  @apply mb-10 md:mb-0;

  &.scrolled {
    @apply top-0 bg-black text-white;

    nav.desktop {
      li {
        @apply text-white;
      }
    }
  }

  &.not-scrolled {
    @apply md:top-10 top-0 bg-transparent;
  }

  .inner {
    @apply mx-auto flex items-center justify-between;
  }

  .logo {
    @apply text-black text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
  }

  nav.desktop {
    @apply hidden lg:flex items-center;

    ul {
      @apply flex space-x-8;

      li {
        @apply text-black relative;

        span {
          @apply transition-colors duration-300 hover:text-gray-400;
        }

        .underline {
          @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
        }
      }
    }
  }
}

/* Contact Button  */
.contact-btn {
  @apply flex;

  .inner {
    @apply px-5 py-2 rounded-lg bg-black border-2 text-white group-hover:bg-white group-hover:text-black group-hover:border-black;
  }
}

/* Bubble Text component styles:  */
.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(53, 54, 54);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(116, 116, 116);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(116, 116, 116);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

/* Full Background  */
.bg-styles {
  background-image: url("/images/white-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
